.team {
  text-align: center;
  padding: 32px;
}

.team h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.team .subjects {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  flex-wrap: wrap;
}